services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: schools
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
  api:
    build:
      context: .
      dockerfile: Dockerfile
      target: dev
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    depends_on:
      - db

  unit-test:
    build:
      context: .
      dockerfile: Dockerfile
      target: test
    env_file:
      - .env
    volumes:
      - .:/app
    depends_on:
      - db
    command: pytest --cov=./ --cov-report=xml

volumes:
  db_data:
